<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>Technologies used : </p>
        <ul>
            <li>Node.js: The core runtime environment for the backend.Node.js: The core runtime environment for the
                backend.</li>
            <li>Express.js: A web application framework for Node.js, used to create the server and handle routing.</li>
            <li>Handlebars (hbs): A templating engine for creating dynamic HTML pages.</li>
            <li>APIs:
                <ul>
                    <li>Geocoding API for converting addresses to coordinates.</li>
                    <li>Weather forecast API for fetching weather data.</li>
                </ul>
            </li>
        </ul>
    </div>

    {{>footer}}
</body>
</html>