<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p>You can find my other projects and connect with me using the following : </p>
        <ul>
            <li><a href="https://github.com/Raltoos">Github</a></li>
            <li><a href="https://www.linkedin.com/in/anuj-parwal">LinkedIn</a></li>
        </ul>
    </div>

    {{>footer}}
</body>
</html> 