<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>This project is a web-based weather application that allows users to search for weather forecasts by
            location. It's built with a Node.js backend and uses several modern web technologies to create a full-stack
            application.</p>

        <hr>

        <form>
            <input type="text" placeholder="Location">

            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>